h1
{
  font-size: 3em;
  margin: 0.67em 0;
  color: #000000;	
}
body {
  font: 14px/22px "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-weight: 300;
  margin: 0px;
  padding: 0px 0 20px 0px;
  background: #6C728C;
}

table
{
	background: #FCAD5F
	border-collapse: collapse;
    border-spacing: 0;
}

td
{
	padding: 4px
}